html{
	background-color: rgb(250, 255, 250);
}

.main-container {
	display: flex;
}
.side-bars {
	flex: auto;
}
.main {
	flex: auto;
}

.header{
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: 1px 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.content{
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: 1px 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.footer{
	text-align: center;
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: 1px 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.button{
	border-radius: 0.5rem;
	box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	margin: 0.5rem;
	text-decoration: none;
	color: inherit;
}
.button:hover{
	box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.1);
}

