.main_container{
    display: flex;
    width:100%;
}
.main{
    flex: 1 1 100%;
    background: white;
    min-width: 350px;
}
.side{
    flex: 0 2 33%;
}

.header{
    background: rgba(231, 231, 222, 0.5);
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: space-evenly;
}
.header a{
    text-decoration: none;
    color:black;
    font-family:Snell Roundhand, cursive;
    font-size: 20px;
    display: inline-block;
    transition: transform 0.1s ease;
}
.header a:hover{
    transform: scale(1.05);
}

.footer{
    background: rgba(223, 223, 199, 0.9);
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: space-evenly;
}
.footer a{
    text-decoration: none;
    color:black;
    font-family:Garamond;
    font-size: 20px;
    display: inline-block;
    transition: transform 0.1s ease;
}
.footer a:hover{
    transform: scale(1.05);
}

@media(max-width:600px){
    h1 img{
        width:80%;
    }
    .header{
        flex-direction: column;
        align-items: center;
    }
    .header a{
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer a{
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}