<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
</head>
<body>
		<br>
		<div class="header">
		</div>
	
		<h1 class="title"><a href="{{ url_for('main.index') }}">{{ site.site_name }}</a></h1>
		<div class="main_container">
			<div class="side"></div>
			<div class="main">
			{% block content %}
			{% endblock %}
			</div>
			<div class="side"></div>
		</div>
		<div class="footer">
			<div>
				<a href='{{ url_for('main.about') }}'>About</a>
				<a href=''>Item List</a>
				<a href=''>Contact Us</a>
			</div>
			<div>
				<p>{{ site.site_name }} is powered by <a href=''>Oshkelosh</a></p>
			</div>
		</div>
</body>
</html>
