/* layout.css */
@layer components {



	.main-container { display: flex; min-height: 100vh; }
	.main { flex: auto; }
	.side-bars { flex: auto; }

	.header, .content, .footer {
	  background:  color-mix(in oklab, var(--color-canvas), var(--color-mid-grey) 10%);
	  padding: 1rem;
	  border-radius: 1rem;
	  box-shadow: var(--shadow-md);
	  margin: 1rem;
	}

	.header   { margin-bottom: 0; }
	.content  { margin-top: 0; }
	.footer   { text-align: center; margin-top: auto; }
	.tab {
		padding: 1rem 2rem;
		background-color: color-mix(in oklab, var(--color-canvas), var(--color-mid-grey) 15%);
		border: none;
		cursor: pointer;
		border-bottom: 2px solid transparent;
		border-radius: 0.5rem 0.5rem 0 0;
	}
	.tab:hover {
		background-color: color-mix(in oklab, var(--color-canvas), var(--color-mid-grey) 25%);
	}
	.tab:focus {
		outline: none;
	}
	.tab.active {
		border-bottom: color-mix(in oklab, var(--color-ink), var(--color-blue) 20%);
		background-color: color-mix(in oklab, var(--color-canvas), var(--color-mid-grey) 20%);
	}
	.tab-content {
		display: none;
	}
	.tab-content.active {
		display: block;
	}


}
