@layer component {
	.list-container {
		background-color: color-mix(in oklch, var(--color-canvas), var(--color-mid-grey) 20%);
	  	border: 1px solid color-mix(in oklch, var(--color-ink) 20%, transparent);
		border-radius: 0.5rem;
		display: flex;
		flex-wrap: wrap;	
		margin: 0.5rem auto;
		color: inherit;
		text-decoration: none;
		transition: all 0.35s;
	}
	a.list-container:hover {
		box-shadow: 0 0 1ch var(--shadow-color) inset;
	}

	.list-item {
		padding: 1em;
		margin-top: auto;
		margin-bottom: auto;
	}
	.list-item input {
		width: 50ch;
	}
	.list-container.inactive{
		background-color: color-mix(in oklch, var(--color-canvas), var(--color-red) 20%);
	}

}
