@layer components;

@layer components{
	.main-container { display: flex; min-height: 1rem; }
	.main {
		flex: 1 1 100%; 
		background: var(--color-primary);
	}
	.side-bar { flex: 0 2 33%; }

	.header, .footer, .title-bar {
		background: var(--color-secondary);
		padding: 1rem;
		box-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
		margin: 1rem;
		text-align: center;
	}

	.title{
		text-align: center;
	}
	.title a{
		text-decoration: none;
		color: inherit;
	}

	.title-bar {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}


}
