body{
	background: {{ style.primary_color }};
}

.title{
	text-align:center;
	decoration: none;
}
.title a{
	text-decoration: none;
	color: inherit;
}

.header{
	background: {{ style.secondary_color }};
	padding: 20px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);
	display: flex;
	justify-content: space-evenly;
}
.header a{
	padding: 10px;
	text-decoration: none;
	color:black;
	font-family:Snell Roundhand, cursive;
	font-size: 20px;
	display: inline-block;
	transition: transform 0.1s ease;
}
.header a:hover{
	transform: scale(1.05);
}

.main_container{
	display: flex;
	width:100%;
}
.main{
	flex: 1 1 100%;
	background: rgba(255,255,255,0.8);
	min-width: 350px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.514);
	border-radius: 5px;
}
.main h1{
	text-align:center;
}
.categories{
	background:{{ style.secondary_color }};
	display: flex;
	justify-content: space-evenly;
}
.categories a{
	text-decoration: none;
	color:black;
	font-family:Snell Roundhand, cursive;
	font-size: 20px;
	display: inline-block;
	transition: transform 0.1s ease;
}
.categories a:hover{
	transform: scale(1.05);
}

.side{
	flex: 0 2 33%;
}


.footer{
	background: {{ style.secondary_color }};
	margin: 20px;
	padding: 20px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.514);
	display: flex;
	justify-content: space-evenly;
}
.footer div{
	margin: auto;
}
.footer a{
	padding: 10px;
	text-decoration: none;
	color:black;
	font-family:Garamond;
	font-size: 20px;
	display: inline-block;
	transition: transform 0.1s ease;
}
.footer a:hover{
	transform: scale(1.05);
}

@media(max-width:600px){
	h1 img{
		width:80%;
	}
	.header{
		flex-direction: column;
		align-items: center;
	}
	.header a{
		font-size: 16px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.footer{
		flex-direction: column;
		align-items: center;
	}
	.footer a{
		font-size: 16px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
