<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('theme_static.core', filename='css/_reset.css') }}">
	<link rel="stylesheet" href="{{ url_for('theme_static.core', filename='css/colors.css') }}">
	<link rel="stylesheet" href="{{ url_for('theme_static.core', filename='css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('theme_static.core', filename='css/layout.css') }}">
	<link rel="stylesheet" href="{{ url_for('theme_static.core', filename='css/buttons.css') }}">
	<link rel="stylesheet" href="{{ url_for('theme_static.core', filename='css/list-items.css') }}">
	<link rel="stylesheet" href="{{ url_for('theme_static.core', filename='css/flash.css') }}">
</head>
<body>
		<div class="main-container">
			<div class="side-bars"></div>
			<div class="main">
				<div class="header">
					<h1>Oshkelosh Admin Panel</h1>
					<h2>Welcome, {{ current_user.name }}</h2>
					<a class="btn" href="{{ url_for('admin.index') }}">Main</a>
					<a class="btn" href="{{ url_for('admin.settings') }}">Site Settings</a>
					<a class="btn" href="{{ url_for('admin.addons') }}">Addons</a>
					<a class="btn" href="{{ url_for('admin.users') }}">Users</a>
					<a class="btn" href="{{ url_for('admin.products') }}">Products</a>
					<a class="btn" href="{{ url_for('admin.images') }}">Images</a>
					<a class="btn" href="{{ url_for('admin.suppliers') }}">Suppliers</a>
					<a class="btn" href="{{ url_for('admin.payment_processors') }}">Payment Preccessors</a>
					<a class="btn" href="{{ url_for('main.index') }}">~ Shop Front ~</a>

				</div>
				<br>
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						<div class="flash-messages">
							{% for category, message in messages %}
								<div class="flash-message {{ category }}">
									{{ message }}
									<button class="flash-close" onclick="this.parentElement.remove()">×</button>
								</div>
							{% endfor %}
						</div>
					{% endif %}
				{% endwith %}
				<div class="content">
					{% block content %}
					{% endblock %}
				</div>
				<br>
				<div class="footer">
					<p><b>Oshkelosh</b> - because DIY ecomm shouldn't feel like herding cats. Rant or rave at support@oshkelosh.com. Fork us if you're plotting world domination.</p>
				</div>
			</div>
			<div class="side-bars"></div>
		</div>
</body>
</html>
