{% extends 'core/base.html' %}
{% block content %}
<h2> Main</h2>
<h3>Welcome the the Oshkelosh Admin Panel</h3>
<p>Settings for every aspect of this shop can be found in the above tabs</p>
<h3>Suppliers last updated goes here</h3>
<h3>Product Force Sync Button goes here</h3>
<h3>Business Metrics goes here</h3>
<p>Orders, Revenue, New customers, Conversion rate, AOV</p>
<h3>Recent Orders</h3>
<h3>Problematic Orders</h3>
<p>No idea how this is done</p>
<h3>Site Status</h3>
<p>Live site up?, Payment gateway OK?, Email/SMTP working?, Disk/space usage (if self-hosted)</p>
{% endblock %}

