{% extends 'core/base.html' %}
{% block content %}
<h2>Site Settings</h2>
<div>
	<a class="btn" href="{{ url_for('admin.settings') }}">Main</a>
	{% for addon in addons %}
	<a class="btn" href="{{ url_for('admin.settings', addon_id=addon.id) }}">{{ addon.name|capitalize }} {{ addon.type|capitalize }}</a>
	{% endfor %}
</div>
<br>
<div>
	<form method="POST">
		{{ form.hidden_tag() }}
		{% for field in form %}
		{% if field.name != 'csrf_token' and field.type != 'SubmitField' %}
		<div>
			{%  if field.description %}<p>{{ field.description }}</p>{% endif %}
			{{ field.label }} {{ field() }}
			{% if field.errors %}{{ field.errors[0] }}{% endif %}
		</div>
		{% endif %}
		{% endfor %}
		<br>
		{{ form.submit() }}
	</form>
</div>
{% endblock %}

