{% extends 'core/base.html' %}
{% block content %}
<h2>Suppliers</h2>
{% for supplier in suppliers %}
<div>
	<h3>{{ supplier.name }}</h3>
	<p>{{ supplier.description }}</p>
	<p>Last updated: {{ supplier.updated_at }}</p>
	<p>Version: {{ supplier.version }}</p>
	<br>
	<form method="POST">
		{{ supplier.form.hidden_tag() }}
		{% for field in supplier.form if field.short_name not in ['csrf_token', 'submit'] %}
		<div>
			{%  if field.description %}<p>{{ field.description }}</p>{% endif %}
			{{ field.label }}: {{ field() }}
			{% if field.errors %}{{ field.errors[0] }}{% endif %}
		</div>
		<br>
		{% endfor %}
		{{ supplier.form.submit() }}
	</form>
	<br>
</div>
{% endfor %}
{% endblock %}

